<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Ronan Winfield</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/main.js" defer></script>
    <script src="https://kit.fontawesome.com/2beb4de002.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header Partial -->
    <%- include('../partials/header') %>

    <section class="privacy__section">
        <div class="container">
            <!-- Profile Picture  img/aboutme/ronanportrait.JPG-->
            
            <h1>Privacy Policy</h1>
            <!-- Content Section -->
            <div class="content">
                <p>Effective Date: <strong>21/10/2024</strong></p>

                <h2>Introduction</h2>
                <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your information when you use our services.</p>

                <h2>Information We Collect</h2>
                <p>We only collect the data that you give us, such as email, and names. We do not collect any other information unless it has been given to us during contact.</p>

                <h2>How We Use Your Information</h2>
                <p>Your email address may be used to:</p>
                <ul>
                    <li>Send you confirmation emails or promotionals</li>
                    <li>Respond to your inquiries, support requests and hire enquires.</li>
                    <li>Notify you about changes to our services.</li>
                </ul>

                <h2>Data Security</h2>
                <p>We take reasonable measures to protect your email address from unauthorised access, disclosure, alteration, or destruction.</p>

                <h2>Changes to This Privacy Policy</h2>
                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

                <h2>Contact Us</h2>
                <p>If you have any questions about this Privacy Policy, please contact us at <a href="../Contact">Contact</a>.</p>
            </div>
        </div>
    </section>

    <!-- Footer Partial -->
    <%- include('../partials/footer') %>
</body>
</html>
