<div class="main__blog__section" id="blog">
    <div class="blog-content">
      <div class="blog-post">
        <blockquote>
          <h2>Why You Should Hire Me</h2>
          <p>Hi, I'm Ronan Winfield, a passionate software engineer and cyber security analyst. I excel at creating innovative software solutions tailored to meet the specific needs of my clients. My hands-on experience in various programming languages ensures that I bring ideas to life efficiently and effectively.</p>
          <p>So, why hire me? I am committed to delivering high-quality work with a focus on security and usability. Let’s work together to transform your ideas into reality!</p>
        </blockquote>
      </div>
      <div class="blog-image">
        <img src="/img/blog/ronanprofile.png" alt="Ronan Winfield" class="blog-photo">
      </div>
    </div>
  </div>
  