<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__left">
                <a href="https://ronanfilms.com" class="footer__logo">Ronan Films</a>
                <p>&copy; <%= new Date().getFullYear() %> Ronan Films. All rights reserved.</p>
            </div>
            <div class="footer__right">
                <ul class="footer__nav">
                    <li><a href="https://ronanfilms.com/portfolio">Portfolio</a></li>
                    <li><a href="https://ronanfilms.com/contact">Contact</a></li>
                    <li><a href="https://ronanfilms.com/privacy" target="_blank">Privacy Policy</a></li>
                </ul>
                <div class="footer__social">
                    <a href="https://www.youtube.com/channel/UCjnAi_udv3Avudnh4nGKzQQ" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="https://discord.gg/nr5Hrpq6H8" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://twitter.com/ronan_films" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
