<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__left">
                <a href="https://ronanfilms.com" class="footer__logo">Ronan Winfield</a>
                <p>&copy; <%= new Date().getFullYear() %> Ronan Winfield. All rights reserved.</p>
                <p>ABN 63 146 144 007</p>
            </div>
            <div class="footer__right">
                <ul class="footer__nav">
                    <li><a href="https://github.com/R0nan-F1lms?tab=repositories">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                </ul>
                <div class="footer__social">
                    <a href="https://github.com/R0nan-F1lms" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/ronan-winfield-aa360a22b/ " target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://twitter.com/ronan_films" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
