<!-- views/partials/profile.ejs -->
<link rel="stylesheet" href="/styles.css">
<!-- Link to your local CSS file -->
<script src="/main.js" defer></script> <!-- Link to your local JS file -->
<div class="main__home__cards">
    <div class="main__home">
      <!-- Profile Card -->
      <div class="card__profile">
        <div class="profile">
          <img src="/img/aboutme/ronanprofile.JPG"
            alt="Profile Image">
        </div>
        <div class="info">
          <h2>Ronan Winfield</h2>
          <h2><span class="animated-text">Programmer</span></h2>
          <p>I am Ronan Winfield, a seasoned Front-End and Back-End Developer
            with a Certificate IV in Information Technology, specialising in
            C# Development, App Development, and Database Management. I hold a
            Diploma in Information Technology Advanced Programming and am
            currently pursuing a Bachelor’s degree in Cyber Security.</p>
          <p>With over three years of experience in C# and JavaScript, and a
            year each in XAML and Python, I bring a well-rounded skill set and
            a deep understanding of both programming and security principles.
            My expertise spans across designing intuitive user interfaces,
            developing robust back-end solutions, and implementing secure
            systems.</p>
          <p>I excel in crafting elegant, high-performance code and am
            dedicated to leveraging my technical skills to deliver innovative
            solutions. My ongoing education in Cyber Security further
            strengthens my capability to build secure applications and address
            complex security challenges.</p>
          <div class="social-media">
            <a href="https://github.com/R0nan-F1lms"
              target="_blank"><i_y class="fa-brands fa-github"></i_y></a>
            <a href="https://discord.gg/nr5Hrpq6H8" target="_blank"><i_d
                class="fa-brands fa-linkedin"></i_d></a>
            <a href="https://twitter.com/ronan_films" target="_blank"><i_t
                class="fa-brands fa-twitter"></i_t></a>
          </div>
        </div>

      </div>