<!-- views/partials/profile.ejs -->
<link rel="stylesheet" href="/styles.css">
<script src="/main.js" defer></script> 

<div class="main__home__section">
  <div class="profile">
    <!-- Left side: Photo of Ronan in a fancy shape (circle) -->
    <div class="photo-container">
      <img src="/img/aboutme/ronanprofile.JPG" alt="Profile Image" class="profile-photo">
      
    </div>

    <!-- Right side: Profile Info -->
    <div class="info">
      <h1>Bridging Imagination and Innovation with Code</h1>
      <p>As a skilled software engineer and cyber security analyst, I am dedicated to transforming your ideas into innovative software solutions while ensuring your digital safety. My expertise spans front-end and back-end development, along with a strong focus on implementing secure systems.</p>
      <div class="social-media">
        <a href="https://github.com/R0nan-F1lms" target="_blank"><i_y class="fa-brands fa-github"></i_y></a>
        <a href="https://www.linkedin.com/in/ronan-winfield-aa360a22b/" target="_blank"><i_d class="fa-brands fa-linkedin"></i_d></a>
        <a href="https://twitter.com/ronan_films" target="_blank"><i_t class="fa-brands fa-twitter"></i_t></a>
      </div>
      
      <a href="/downloads/resume/RONAN_WINFIELD_RESUME_2024.pdf" class="resume-button" target="_blank">Resume</a>

    </div>
  </div>
</div>
