<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronan Winfield</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <!-- Link to your local CSS file -->
    <script src="/main.js" defer></script> <!-- Link to your local JS file -->
    <script src="https://kit.fontawesome.com/2beb4de002.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Header Partial -->
    <%- include('partials/header') %>

    <section class="home__section">
      <%- include('partials/profile') %>  
    </section>

    

        <!-- Pricing Cards -->
        <h1>Prices</h1>
        <!--Cards partial-->
        <%- include('partials/cards') %>
      </div>
    </div>
    <!--Footer Partial-->
    <%- include('partials/footer') %>
  </body>
</html>
